/* 

Designed  By :-  Reetesh V 

 */




@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
main {
  background: #fafbff;
}
.section {
  padding: 4rem 10rem;
}
.title {
  font-size: 3rem;
  color: #333;
  font-weight: 400;
  border-bottom: 2px solid #333;
}
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-thumb {
  width: 0.3rem;
  background: #333;
}
/* --------------------------------------section-1------------------------------------------------ */
.home {
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #e9eef3;
}
/* --------nav-bar------- */
.nav-bar {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: space-between;
  min-height: 10vh;
  padding: 1rem 10rem;
  background: #fff;
  z-index: 5;
}
.logo h2 {
  font-size: 2rem;
  font-weight: 400;
  color: #333;
}
.logo h2 span {
  letter-spacing: 5px;
}
.nav-bar ul {
  display: flex;
  align-items: center;
  width: 35%;
  justify-content: space-between;
  list-style: none;
  transition: all 0.5s;
}
.nav-links {
  font-size: 1.5rem;
  text-decoration: none;
  color: #222;
  padding: 5px;
  font-weight: 500;
  border-bottom: 2px solid #fff;
  transition: all 0.4s;
}
.nav-links:hover {
  color: #333;
  border-bottom: 2px solid #333;
}
.nav-btn {
  padding: 5px 20px;
  border: 2px solid #333;
  background: transparent;
  position: relative;
  transition: all 0.8s;
}
.nav-btn::before {
  content: " ";
  width: 1rem;
  height: 1rem;
  opacity: 0;
  position: absolute;
  background: #333;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: 0.8s;
}
.nav-btn:hover::before {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.nav-btn:hover {
  background: #333;
  color: #fff;
}
.menu {
  position: fixed;
  z-index: 50;
  color: #333;
  font-size: 3.5rem;
  cursor: pointer;
  right: 10rem;
  top: 1rem;
  display: none;
  transition: all 0.5s;
}
.nav-on {
  right: 0;
}
/* --------home-top----- */
.home-top {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #333;
  color: #fff;
  padding: 5rem 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-top-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-top-title {
  font-size: 3.5rem;
  font-weight: 300;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #fff;
}
.home-top-name {
  font-size: 3.3rem;
  font-weight: 300;
  padding-bottom: 0.5rem;
  margin-top: 5rem;
}
.home-top-years {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 0.5rem;
  position: relative;
  padding: 0 10px;
}
.home-top-years::after,
.home-top-years::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 1.5px;
  background: #fff;
  top: 50%;
  transform: translateY(-50%);
}
.home-top-years::after {
  right: 100%;
}
.home-top-years::before {
  left: 100%;
}
.home-top-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: transparent;
  position: relative;
  color: #fff;
  z-index: 1;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 5px 20px;
  width: 16rem;
  margin-top: 5rem;
  border: 2px solid #fff;
  transition: all 0.75s;
}
.home-top-btn::before {
  content: "";
  width: 1rem;
  height: 1rem;
  opacity: 0;
  z-index: -1;
  position: absolute;
  background: #ffffffcc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
.home-top-btn:hover:before {
  width: 100%;
  height: 100%;
  opacity: 0.35;
}
.home-top-btn ion-icon {
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
  width: 0;
  transition: all 0.4s ease-in-out;
}
.home-top-btn:hover ion-icon {
  width: 20px;
  margin-left: 0.75rem;
}
.home-top-btn:hover {
  color: #000;
  background: #fff;
}
.home-top-img {
  width: 22.5%;
  z-index: 1;
}
.back-img-1,
.back-img-2 {
  position: absolute;
  height: 60%;
  z-index: 0;
}
.back-img-1 {
  right: 0;
  top: 0;
}
.back-img-2 {
  left: 0;
  top: 60%;
}
/* --------------------------------------section-2  Bio------------------------------------------------ */
.bio {
  display: flex;
  flex-direction: column;
  background-color: #fafbff;
}
.bio-title {
  width: fit-content;
  align-self: center;
  margin-bottom: 3rem;
}
.bio-content {
  display: flex;
  align-items: center;
}
/* ------------bio-left--------- */
.bio-left {
  width: 70%;
  font-size: 1.5rem;
  padding: 2rem;
  margin-right: 0rem;
  background: #fff;
  box-shadow: 0 0 25px 5px #eaeaea;
}
.bio-left::-webkit-scrollbar {
  width: 0.5rem;
}
.read-more {
  display: none;
}
/* ------------bio-right--------- */
.bio-right {
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem;
  align-items: center;
}
.bio-right img {
  width: 80%;
  margin-bottom: 1.75rem;
}
.bio-right-text {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  font-size: 1.25rem;
  padding: 1rem 2rem;
  background: #fff;
  box-shadow: 0 0 25px 5px #eaeaea;
}
.bio-box {
  display: flex;
  margin-bottom: 0.65rem;
}
.bio-box:first-child span {
  margin-right: 4rem;
}
.bio-box:nth-child(2) span,
.bio-box:nth-child(3) span {
  margin-right: 5rem;
}
.bio-box:last-child span {
  margin-right: 2.5rem;
}
.bio-box:last-child ul {
  list-style: none;
}
/*---------------------------------------------top-tbn----------------------------------------------------------*/
.top-btn {
  position: fixed;
  width: 5rem;
  height: 5rem;
  bottom: 1rem;
  right: 1rem;
  font-size: 2rem;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
}
/* --------------------------------------------section-3--------------------------------------------------------- */
.awards {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #22566726;
  position: relative;
}
.awards-title {
  margin-bottom: 5rem;
}
.awards ol {
  font-size: 1.5rem;
  width: 75%;
  background: #fff;
  padding: 5rem;
  box-shadow: 0 0 25px 10px #eaeaea;
}
.awards ol li {
  /* margin-bottom: 2rem; */
  padding: 1.5rem 0.5rem;
  border-bottom: 1px solid #22566726;
}
.awards ol li:last-child {
  margin-bottom: 0;
}
.awards ol li:first-child {
  margin-top: 0;
  border-top: 1px solid #22566726;
}
/* --------------------------------------------section-4--------------------------------------------------------- */
.songs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.songs-title {
  margin-bottom: 5rem;
}
.songs-content {
  display: flex;
  align-items: center;
}
.songs-list {
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 0 25px 5px #22566726;
  margin-right: 10rem;
}
.song-link {
  font-size: 1.2rem;
  color: #333;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid #22566726;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.song-link:hover {
  background: #6e6c6c3f;
  text-decoration: underline;
  color: #000;
}
.songs-right {
  display: flex;
  flex-direction: column;
}
.songs-right iframe {
  height: 350px;
  width: 650px;
  margin-bottom: 4rem;
}
.song-name {
  font-size: 1.75rem;
  padding: 1.5rem;
  text-align: center;
  border-top: 2px solid #444;
  border-bottom: 2px solid #444;
}
/* --------------------------------------------Footer--------------------------------------------------------- */
.footer {
  padding: 2rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2256672a;
}
.news-letter {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.news-letter-title {
  font-size: 2rem;
  font-weight: 400;
  color: #333;
  letter-spacing: 5px;
  margin-bottom: 3rem;
  text-align: center;
}
.news-letter-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
.news-letter-content form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-letter-content input {
  width: 80%;
  height: 4rem;
  font-size: 1.5rem;
  border: 2px solid #333;
  padding: 2rem;
  margin-right: 0.5rem;
  background: none;
  outline: none;
}
.subscribe {
  font-size: 1.5rem;
  color: #fff;
  padding: 1.1rem 5rem;
  letter-spacing: 3.5px;
  border: 2.5px solid #333;
  background: #333;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 0;
  outline: none;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}
.copyrights {
  font-size: 1.5rem;
  color: #666;
}
.social-links {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}


.social-links a {
  font-size: 2.5rem;
  margin-right: 1.5rem;
  color: #333;
}


.linkedln:hover{
  color: #1da1f2;
}


/* --------------------------------------responsive----------------------------- */

@media screen and (max-width: 1200px) {
  .nav-bar ul {
    width: 65%;
  }
  .home-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .home-top-img {
    position: static;
    max-width: 35.5%;
    width: 100%;
    transform: none;
  }
  .home-top-title {
    font-size: 3rem;
  }
  .home-top-name {
    font-size: 2.5rem;
  }
  .home-top-text {
    margin: 0;
  }
  .bio {
    padding: 7rem;
  }
  .bio-content {
    flex-direction: column;
  }
  .bio-left {
    order: 2;
    width: 100%;
    padding: 1.8rem;
    height: 40vh;
    overflow: hidden;
    position: relative;
  }
  .read-more {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 100%;
    bottom: 0;
    right: 0;
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
    background: #333;
  }
  .bio-right {
    order: 1;
    width: 100%;
    margin-bottom: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .bio-right img {
    width: 40%;
    max-width: 33%;
    margin: 0 2rem 0 0;
  }
  .bio-right-text {
    width: 100%;
    max-width: 50%;
    padding: 1rem;
    font-size: 1.8rem;
    margin-top: 0;
  }
  .awards {
    padding: 4rem 7rem;
  }
  .awards-title {
    margin-bottom: 4rem;
  }
  .awards ol {
    font-size: 1.8rem;
    width: 100%;
    padding: 2.5rem;
  }
  .songs {
    padding: 3rem 7rem;
  }
  .song-link {
    text-align: center;
  }
  .songs-title {
    margin-bottom: 4rem;
  }
  .songs-content {
    flex-direction: column;
    width: 100%;
  }
  .songs-list {
    order: 2;
    width: 100%;
    margin: 0;
  }
  .songs-right {
    order: 1;
    margin-bottom: 3rem;
    width: 100%;
  }
  .songs-right iframe {
    width: 100%;
    height: 480px;
  }
  .footer {
    padding: 4rem 7rem;
  }
  .news-letter {
    width: 100%;
    flex-direction: column;
  }
  .footer-content {
    flex-direction: column;
    width: 100%;
  }
  .social-links {
    position: static;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .nav-bar {
    padding: 1rem 7rem;
    position: fixed;
    width: 100%;
  }
  .logo h2 {
    font-size: 3.5rem;
  }
  nav ul {
    position: fixed;
    flex-direction: column;
    justify-content: center !important;
    width: 100% !important;
    height: 100%;
    background: #333;
    top: 0%;
    right: -100%;
    z-index: 5;
  }
  nav ul li {
    margin: 2rem 0;
  }
  .nav-links {
    color: #fff;
    border-bottom: 2px solid #333;
  }
  .nav-links:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
  }
  .nav-btn {
    border: 2px solid #fff;
    font-size: 2rem;
  }
  .nav-btn:hover {
    color: #333;
    background: #fff;
  }
  .nav-btn::before {
    background: #fff;
  }
  .menu {
    display: block;
    right: 7rem;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    font-size: 5rem;
  }
  .home-top {
    display: flex;
    flex-direction: column;
    position: static;
    height: 100vh;
    padding: 5rem 7rem;
    align-items: center;
    justify-content: center;
  }
  .home-top-text {
    width: 100%;
    margin-top: 2rem;
    order: 2;
  }
  .home-top-img {
    position: static;
    width: 55%;
    max-width: 45%;
    z-index: 0;
    margin-top: 3rem;
  }
  .home-top-name,
  .home-top-btn {
    margin-top: 2rem;
  }
  .title,
  .home-top-title {
    font-size: 3rem;
  }
  .home-top-btn:hover ion-icon {
    display: none;
  }
  ::-webkit-scrollbar {
    width: 0;
  }
  .back-img-1,
  .back-img-2 {
    display: none;
  }
  .home-top-name {
    font-size: 2.8rem;
  }
  .bio-right img {
    width: 50%;
    max-width: 60%;
  }
  .bio-right-text {
    width: 100%;
    max-width: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    margin-top: 2rem;
  }
  .songs-right iframe {
    height: 300px;
    width: 100%;
    margin-bottom: 3rem;
  }
  .song-link {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 480px) {
  .nav-bar {
    padding: 1rem 3rem;
  }
  .logo h2 {
    font-size: 1.8rem;
  }
  .menu {
    right: 4rem;
    font-size: 3rem;
  }
  .title,
  .home-top-title {
    font-size: 2.5rem;
  }
  .home-top-img {
    width: 100%;
    max-width: 100%;
    margin-top: 5rem;
    transform: none;
  }
  .home-top {
    padding: 5rem;
    height: 100vh;
  }
  .home-top-name,
  .home-top-btn {
    font-size: 2rem;
    margin-top: 1.5rem;
  }
  .home-top-btn {
    font-size: 1.5rem;
  }
  .home-top-years {
    font-size: 1.5rem;
  }
  .home-top-btn:hover ion-icon {
    display: none;
  }
  .bio {
    padding: 4rem;
  }
  .bio-left {
    font-size: 1.35rem;
    height: 50vh;
  }
  .bio-left::after {
    font-size: 2rem;
  }
  .bio-right {
    margin-bottom: 2rem;
    margin-right: 0;
    flex-direction: column;
    padding: 0;
  }
  .bio-right img {
    width: 100%;
    margin: 0;
    max-width: 75%;
  }
  .bio-right-text {
    width: 100%;
    padding: 0.75rem;
    max-width: 100%;
    font-size: 1.25rem;
    margin-top: 1.5rem;
  }
  .awards {
    padding: 4rem 2rem;
  }
  .awards-title {
    margin-bottom: 3rem;
  }
  .awards ol {
    font-size: 1.5rem;
    padding: 2rem;
  }
  .songs {
    padding: 4rem 2rem;
  }
  .songs-title {
    margin-bottom: 3rem;
  }
  .songs-right iframe {
    height: 200px;
    width: 100%;
    margin-bottom: 3rem;
  }
  .song-link {
    font-size: 1.1rem;
  }
  .footer {
    padding: 2rem;
  }
  .news-letter-title {
    font-size: 1.75rem;
    margin-bottom: 3rem;
  }
  .news-letter-content {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 330px) {
  .home-top,
  .bio,
  .song,
  .awards,
  .footer {
    padding: 2rem;
  }
  .home-top-img {
    width: 80%;
  }
  .home-top-title {
    font-size: 2rem;
  }
  .home-top-name {
    font-size: 1.5rem;
  }
  .home-top-years {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 545px) {
  .news-letter-content {
    margin-bottom: 2rem;
  }
  .news-letter-content form {
    width: 100%;
    flex-direction: column;
  }
  .news-letter-content input {
    width: 100%;
    margin-bottom: 1rem;
  }
  .subscribe {
    padding: 1rem 2.5rem;
    font-size: 1.25rem;
  }
  .copyrights {
    font-size: 1.25rem;
  }
}
